<div class="login-form-container container-fluid vh-100 d-flex p-0">
    <div class="left-panel col-6 d-none d-md-flex">
        <div class="brand-overlay">
            <h1>Join the Community.</h1>
            <p>High-performance tools for modern professional teams.</p>
        </div>
    </div>

    <div class="right-panel col-12 col-md-6 d-flex align-items-center justify-content-center">
        
        <form *ngIf="isLoginMode" class="login-form animate-fade-in" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-header">
                <h2>Welcome Back</h2>
                <p>Login to manage your account.</p>
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Username</label>
                <input class="form-control" type="text" placeholder="Enter your Username" formControlName="userName"/>
            </div>

            <div class="form-group mb-4">
                <label class="form-label">Password</label>
                <input class="form-control" type="password" placeholder="Enter your password" formControlName="password"/>
            </div>

            <button class="btn btn-primary w-100 mb-3" type="submit">Sign In</button>
            
            <p class="text-center transition-text">
                Don't have an account? <a href="javascript:void(0)" (click)="toggleMode()">Sign Up</a>
            </p>
        </form>

        <form *ngIf="!isLoginMode" class="login-form animate-fade-in" [formGroup]="signupForm" (ngSubmit)="onSignup()">
            <div class="form-header">
                <h2>Create Account</h2>
                <p>Get started with your free trial today.</p>
            </div>

            <div class="row">
                <div class="form-group mb-3">
                    <label class="form-label">Username</label>
                    <input class="form-control" type="text" placeholder="Jane" formControlName="userName"/>
                </div>
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Email Address (Optional)</label>
                <input class="form-control" type="email" placeholder="name@company.com" formControlName="email"/>
            </div>

            <div class="form-group mb-4">
                <label class="form-label">Create Password</label>
                <input class="form-control" type="password" placeholder="At least 8 characters" formControlName="password"/>
            </div>

            <button class="btn btn-primary w-100 mb-3" type="submit">Create Account</button>
            
            <p class="text-center transition-text">
                Already have an account? <a href="javascript:void(0)" (click)="toggleMode()">Log In</a>
            </p>
        </form>

    </div>
</div>