<div class="success-screen">
  <div class="success-icon-wrap"><i class="bxf bx-check"></i></div>
  <div class="success-title">Order Placed Successfully! 🎉</div>
  <div class="success-sub mx-auto">
    Your print job has been sent to the shop. Head over to pick it up when it's
    ready.
  </div>

  <div class="success-order-id">
    <i class="bxf bx-hashtag"></i> PH-2026-0043
  </div>

  <!-- <div
    style="
      background: var(--bg-page);
      border-radius: var(--radius);
      padding: 16px;
      margin-bottom: 28px;
      font-size: 14px;
      color: var(--text-700);
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    "
  >
    <div
    class="d-flex align-items-center gap-1 mb-1 fw-bold"
      style="
        color: var(--text-900);
      "
    >
      <i class="bx bx-clock text-primary"></i>
      Estimated Ready Time
    </div>
    <div style="font-size: 20px; font-weight: 800; color: var(--primary)">
      Ready in
    </div>
  </div> -->

  <div class="success-actions d-flex justify-content-center gap-2">
    <a href="#" routerLink="/track-order" appPreventDefault>
      <button class="tr-order-btn">
        <i class="bxf bx-list-ul-square"></i> Track Order
      </button></a
    >
    <a href="#" appPreventDefault
      ><button class="bck-to-shops-btn" routerLink="/search-shops">
        <i class="bxf bx-store"></i> Back to Shops
      </button></a
    >
  </div>
</div>
