<div class="right-panel d-flex align-items-center justify-content-center">
  @if (isSuccess()) {
    <app-setup-success></app-setup-success>
  } @else {
    <div class="form-wrap">
      <!-- Progress Bar -->
      <div class="progress-bar-wrap" id="progressWrap">
        <div class="pb-labels">
          <span
            class="pb-label"
            [class.active]="currentStep() == 1"
            [class.done]="currentStep() > 1"
            >Account</span
          >
          <span
            class="pb-label"
            [class.active]="currentStep() == 2"
            [class.done]="currentStep() > 2"
            >Profile</span
          >
          <span
            class="pb-label"
            [class.active]="currentStep() == 3"
            [class.done]="currentStep() > 3"
            >Preferences</span
          >
        </div>

        <div class="pb-track">
          <div
            class="pb-fill"
            id="pbFill"
            [style.width.%]="(currentStep() / totalSteps) * 100"
          ></div>
        </div>

        <div class="pb-step-dots">
          <div
            class="pb-dot"
            [class.active]="currentStep() == 1"
            [class.done]="currentStep() > 1"
          ></div>
          <div
            class="pb-dot"
            [class.active]="currentStep() == 2"
            [class.done]="currentStep() > 2"
          ></div>
          <div
            class="pb-dot"
            [class.active]="currentStep() == 3"
            [class.done]="currentStep() > 3"
          ></div>
        </div>
      </div>

      @if (currentStep() == 1) {
        <app-account-creation></app-account-creation>
      } @else if (currentStep() == 3) {
        <app-preferences-setup></app-preferences-setup>
      } @else if (currentStep() == 2) {
        <app-profile-creation></app-profile-creation>
      }
    </div>
  }
</div>
