<div id="cfgForm">
  <div class="config-grid">
    <app-toggle-group
      [labelIcon]="'bx bx-palette'"
      [optionIcon]="'bx bx-circle'"
      [label]="'Print Mode'"
      [selectedValue]="printFileConfig.printMode"
      [options]="printModeOptions"
      (valueChange)="update({ printMode: $event })"
    ></app-toggle-group>

    <app-toggle-group
      [labelIcon]="'bx bx-file'"
      [optionIcon]="'bx bx-file'"
      [label]="'Sides'"
      [selectedValue]="printFileConfig.sides"
      [options]="printSidesOptions"
      (valueChange)="update({ sides: $event })"
    ></app-toggle-group>

    <div class="cfg-group">
      <div class="cfg-label">
        <i class="bx bx-copy"></i>
        number of copies
      </div>
      <input
        type="number"
        class="cfg-input"
        max="100"
        min="1"
        (change)="update({ noOfCopies: $any($event.target).value })"
        [value]="printFileConfig.noOfCopies"
      />
    </div>

    <app-dropdown
      [label]="'Paper Size'"
      [options]="printSizeOptions"
      [selectedValue]="printSizeLabels[printFileConfig.paperSize]"
      (valueChange)="update({ paperSize: $event })"
    ></app-dropdown>
    <div class="cfg-group">
      <div class="cfg-label">
        <i class="bxs bx-hashtag"></i>
        page range
      </div>
      <input
        type="text"
        class="cfg-input"
        [value]="printFileConfig.pageRange"
        (change)="update({ pageRange: $any($event.target).value })"
      />
    </div>

    <app-dropdown
      [labelIcon]="'bx bx-align-left'"
      [label]="'Orientation'"
      [options]="printOrientationOptions"
      [selectedValue]="printOrientationLabels[printFileConfig.orientation]"
      (valueChange)="update({ orientation: $event })"
    ></app-dropdown>
  </div>
</div>
