<div class="shop-card">
  <div class="card-cover">
    <img [src]="shopPreviewDetails.coverImage" />
    <div class="c-dist px-2 py-1 d-flex align-items-center">
      <i class="bxf bx-location"></i>
      <span>{{ shopPreviewDetails.distance }} km</span>
    </div>
    <div class="cv-overlay"></div>
    <div class="c-view d-flex align-items-center justify-content-center gap-1" (click)="setModalOpen()">
      <i class="bxf bx-eye-alt"></i>
      View details
    </div>
  </div>
  <div class="card-body d-flex flex-column p-3">
    <div class="c-head d-flex align-items-center jusify-space-between">
      <span class="fw-bold">{{ shopPreviewDetails.name }}</span>
      <button
        class="fav-btn d-flex justify-content-center align-items-center"
        [class.active]="shopPreviewDetails.isFavourite"
      >
        <i
          [class]="
            shopPreviewDetails.isFavourite ? 'bxf bx-heart' : 'bx bx-heart'
          "
        ></i>
      </button>
    </div>
    <span class="c-address d-flex align-items-center mb-1"
      ><i class="bxf bx-location"></i>{{ shopPreviewDetails.address }}</span
    >
    <div class="c-rating d-flex gap-1 align-items-center mb-1">
      @for (star of [1, 2, 3, 4, 5]; track star) {
        @if (star <= floorRating) {
          <i class="bxf bx-star"></i>
        } @else if (
          star === ceilRating && shopPreviewDetails.rating % 1 >= 0.5
        ) {
          <i class="bxf bx-star-half"></i>
        } @else if (star > shopPreviewDetails.rating) {
          <i class="bx bx-star"></i>
        }
      }
      <strong>{{ shopPreviewDetails.rating }}</strong>
    </div>
    <div class="c-services mt-1 mb-3 d-flex">
      @for (svc of shopPreviewDetails.services; track svc) {
        <span>{{ svc }}</span>
      }
    </div>
    <div class="c-foot d-flex align-items-center justify-space-between pt-2">
      <span class="c-price"
        >From <strong>&#8377;{{ shopPreviewDetails.fromCost }}/pg</strong></span
      >
      <div class="open-status ms-auto">
        @if (shopPreviewDetails.isOpen) {
          <span class="bg-success text-white fw-bold px-2 py-1">Open</span>
        } @else {
          <span class="bg-danger text-white fw-bold px-2 py-1">Closed</span>
        }
      </div>
    </div>
  </div>
</div>
